.carrinhoContainer {
    background-color: #222130;
    padding: 20px 0 20px 20px;
}

.carrinhoTitulo {
    color: white;
    margin: 10px 0 10px 0;
}

.carrinhoOpcoes {
    margin-top: 20px;
}

.carrinhoOpcao {
    color: #EA7C69;
    border: 1px solid #393C49;
    width: 70px;
    height: 30px;
    background-color: inherit;
    border-radius: 8px;
    margin-right: 7px;
    font-weight: bold;
}

.carrinhoOpcaoSelecionado {
    color: white;
    border: 0;
    width: 70px;
    height: 30px;
    background-color: #EA7C69;
    border-radius: 8px;
    margin-right: 7px;
    font-weight: bold;
}

.carrinhoLabels {
    margin-top: 30px;
    display: grid;
    grid-template-columns: 3fr 1fr 1fr;
}

.carrinhoLabel {
    color: white;
    font-weight: 500;
}

.carrinhoProdutos {
    width: 100%;
    height: 380px;
    overflow: auto;
}

.carrinhoProduto {
    margin-top: 10px;
    width: 330px;
    height: 110px;
    display: grid;
    grid-template-areas: "a b c d"
                        "e e e f";
    grid-template-columns: 50px 145px 65px 50px;
    justify-content: center;
    align-items: center;
    background-color: #1F1D2B;
    border-radius: 5px;
    padding: 10px;
}

.carrinhoProdutoImagem {
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.carrinhoProdutoNome, .carrinhoProdutoPreco, .carrinhoProdutoQuantidadeText, .carrinhoProdutoPrecoTotal {
    margin: 0;
}

.carrinhoProdutoNome {
    color: white;
    font-size: 0.8rem;
}

.carrinhoProdutoPreco {
    color: #ABBBC2;
    font-size: 0.8rem;
}

.carrinhoProdutoQuantidade {
    width: 45px;
    height: 45px;
    background-color: #2D303E;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
}

.carrinhoProdutoQuantidadeText {
    color: white;
}

.carrinhoProdutoPrecoTotal {
    color: white;
}

.carrinhoProdutoDescricao {
    grid-area: e;
    height: 35px;
    border: 1px solid #393C49;
    background-color: #2D303E;
    border-radius: 5px;
    outline: none;
    color: #E0E6E9;
    margin-right: 5px;
    margin-top: 5px;
}

.carrinhoProdutoDescricao::placeholder {
    color: #E0E6E9;
}

.carrinhoProdutoRemover {
    width: 35px;
    height: 35px;
    border: 1px solid #FF7CA3;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    margin-top: 5px;
    margin-left: 5px;
}

.carrinhoProdutoRemoverImagem {
    width: 15px;
    height: 15px;
}

.carrinhoDescontoText, .carrinhoDescontoValor, .carrinhoValorTotalText, .carrinhoValorTotal {
    margin: 10px 0 10px 0;
}

.carrinhoDescontoText, .carrinhoValorTotalText {
    color: #ABBBC2;
    font-size: 0.8rem;
}

.carrinhoDesconto {
    display: flex;
    justify-content: space-between;
}

.carrinhoDescontoValor {
    margin-right: 15px;
    color: white;
}

.carrinhoTotal {
    display: flex;
    justify-content: space-between;
}

.carrinhoValorTotal {
    margin-right: 15px;
    color: white;
}

.carrinhoFinalizarCompra {
    margin-top: 10px;
    background-color: #EA7C69;
    border: 0;
    width: 335px;
    height: 40px;
    border-radius: 5px;
    color: white;
    font-weight: bold;
}