.menuContainer {
    height: 100%;
    width: 100%;
    background-color: #1F1D2B;
    display: flex;
    align-items: center;
    flex-direction: column;
}

.logoContainer {
    width: 40px;
    height: 40px;
    margin-top: 10px;
    background-color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #543C3C;
    border-radius: 10%;
}

.logoImagem {
    width: 25px;
    height: 25px;
}

.menuLinks {
    width: 100%;
    list-style: none;
    flex-direction: column;
    padding: 0;
}

.menuLink {
    margin-bottom: 10px;
    margin-left: 10px;
}

.menuItemContainer {
    padding: 5px 15px 5px 10px;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}

.menuItemBorda {
    padding: 8px 10px 8px 10px;
    border-radius: 10%;
}

.menuItemImagem {
    width: 19px;
    height: 20px;
}

.menuItemContainerAtivada {
    padding: 5px 15px 5px 10px;
    background-color: #252836;
    border-bottom-left-radius: 10%;
    border-top-left-radius: 10%;
}

.menuItemBordaAtivada {
    padding: 8px 10px 8px 10px;
    background-color: #EA7C69;
    border-radius: 10%;
}
